<h1>Home</h1>
<p *ngIf="currentUser && currentUser.role">Your role is: <strong>{{currentUser.role}}</strong>.</p>
<div *ngIf="currentUser && currentUser.isSocial" class="card text-center">
    <h6 class="card-header">
        Social Login Demo
    </h6>
    <div class="card-block"></div>
    <img class="card-img-top img-responsive photo" src="{{ currentUser.photoUrl }}">
    <div class="card-block">
        <h4 class="card-title">{{ currentUser.name }}</h4>
        <p class="card-text">{{ currentUser.email }}</p>
    </div>
    <div class="card-block">
        <button class="cta" (click)="logOut()">LogOut</button>
    </div>
</div>
<br/>
<ul *ngIf="users">
    <li *ngFor="let user of users.data">
        <img [src]="user.avatar" />
        <p>{{user.first_name}} {{user.last_name}}</p>
    </li>
</ul>

<app-loader *ngIf="isLoading"></app-loader>