<header>
  <div class="container">
    <a routerLink="/" class="logo">{{ appTitle }}</a>
    <nav>
      <ul>
        <li>
          <a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact:
          true}">Home</a>
        </li>
        <li *ngIf="isAuthenticated">
          <a routerLink="/books" routerLinkActive="active" [routerLinkActiveOptions]="{exact:
          true}">Books</a>
        </li>
        <li>
          <a routerLink="/about" routerLinkActive="active" [routerLinkActiveOptions]="{exact:
          true}">About</a>
        </li>
        <li *ngIf="isAuthenticated">
          <a routerLink="/contact" routerLinkActive="active" [routerLinkActiveOptions]="{exact:
          true}">
            Contact us
          </a>
        </li>
        <li *ngIf="isHasRole(adminModule)">
          <a routerLink="/admin" routerLinkActive="active" [routerLinkActiveOptions]="{exact:
          true}">
            Admin
          </a>
        </li>
        <li *ngIf="!isAuthenticated">
          <a routerLink="/login" routerLinkActive="active" [routerLinkActiveOptions]="{exact:
            true}">
            Login
          </a>
        </li>
        <li *ngIf="!isAuthenticated">
          <a routerLink="/register" routerLinkActive="active" [routerLinkActiveOptions]="{exact:
            true}">
            Register
          </a>
        </li>
        <li *ngIf="isAuthenticated">
          <a (click)="logOut()">
            LogOut
          </a>
        </li>
      </ul>
    </nav>
  </div>
</header>